/* Basic Template css */
nav{
    margin: 0 auto;
    display: flex;
    background-color: #333;
}

nav>a{
    font: 1em sans-serif;
    padding: .6em;
    background-color: #d6f;
}

/* Page specific css */
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    place-items: left center;
    padding-top: 4em;
}
.gridItem{
    min-width: 10em;
}

iframe{
    width: 22em;
    height: 22em;
}
form{
    display: grid;
}
form>input{
    margin-bottom: 2em;
}

label, input, textarea {
    display:block;
    min-width: 8em;
    box-sizing: border-box;
}
.form-control{
    margin-bottom: 1em;
}

textarea{
    min-height: 10em;
}

.form-control input
.form-control textarea{
    padding: 0.5em;
}