:root{
    /* CSS HEX */
    --royal-purple: #714f94ff;
    --cyber-grape: #533a6dff;
    --onyx: #3c4043ff;
    --rich-black-fogra-39: #0a1110ff;
    --arylide-yellow: #e5cd5dff;
}

@media (min-width: 960px){

.eventCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto;
    /* background-color: var(--arylide-yellow); */
    
}

.eventCard>img{
    place-self: center center;
    grid-column-start: 2;
    width: 18rem;
    height: auto;
}

.eventCard>h2, h3, h6, p{
    grid-column-start: 1;
}

.eventCard>button{
    width: 8rem;
    /* background-color: transparent; */
    border-color: var(--cyber-grape);
    background-color:var(--cyber-grape);
    color: antiquewhite;
}

.eventCard>p{
    word-wrap: break-word;
  word-break: break-all;
}

}
h3{
    margin-bottom: 0;
}

h6{
    margin: .4em;
}

