.eventCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #573;
}

.eventCard>img{
    place-self: center center;
    grid-column-start: 2;
}

.eventCard>h2, h3, h6, p{
    grid-column-start: 1;
}

h3{
    margin-bottom: 0;
}

h6{
    margin: .4em;
}