body{
    max-width: 1000px;
    margin: 0 auto;
}
nav{
    margin: 0 auto;
    display: flex;
    place-items: center center;
    background-color: #eee;
}

nav>a{
    font: .8em sans-serif;
    margin: 0 auto;
    color: cornflowerblue;
}

nav>img{
    width: 60px;
    height: auto;

}

img{
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#footerNav{
    display: flex;
    place-items: center center;
    margin-top: 2em;
}

#footerNav>a{
    margin: 0 auto;
}

#footerNav>img{
    width: 50px;
    height: auto;
    margin: 0 auto;
}

.socialIcons{
    display: flex;
    place-items: center center;
    margin: 2em auto;
    width: 20em;
}

.socialIcons>i{
    margin: 0 auto;
}

i{
    font-size: 1.6em;
    border: solid;
    border-radius: 10px 100px / 140px;
    padding: .15em;
}

