:root{
    /* CSS HEX */
    --royal-purple: #714f94ff;
    --cyber-grape: #533a6dff;
    --onyx: #3c4043ff;
    --onyxLight: rgb(188, 196, 202);
    --rich-black-fogra-39: #0a1110ff;
    --arylide-yellow: #e5cd5dff;
    --arylide-yellow-light: rgb(235, 227, 189);

}
body{
    max-width: 1000px;
    margin: 0 auto;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 4rem 1fr 10rem;
    grid-gap: .5rem;  
}

nav{
    place-self: center start;   
    display: flex;
    place-items: center center;
    background-color: #fefefe;
}

nav>a{
    font: .6em sans-serif;
    margin: 0 .5rem;
    color: cornflowerblue;
    text-decoration: none;

}

.header{
    font-family: sans-serif;
    color: var(--onyx);
}

nav>img{
    width: 60px;
    height: auto;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 2.5rem;
}

img{
    margin: 0 auto;
    
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    width: 100%;
    
}

h5{
    font-size: .6rem;
    color: var(--onyx);
    /* font-weight: lighter; */
}

#footerNav{
    display: flex;
    place-items: center center;
    margin-top: 8rem;
}

#footerNav>a{
    margin: 0 auto;
}

#footerNav>img{
    width: 50px;
    height: auto;
    margin: 0 auto;
}

.socialIcons{
    display: flex;
    place-items: center center;
    margin: 2em auto;
    width: 20em;
}

.socialIcons>i{
    margin: 0 auto;
}

i{
    font-size: 1.6em;
    border: solid;
    border-radius: 10px 100px / 140px;
    padding: .15em;
}

